<section class="sub-top-header padding-top50">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> 
        <h3>Masuk Anggota Sukabumi property</h3>
      </div>
    </div>
  </div>
</section>

<section class="page-sign-in-up">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            MASUK
          </div>
          <div class="panel-body">
            <div class="form-group">
              <a class="btn btn-primary btn-block">
                <i class="fa fa-facebook pull-left"></i>
                Masuk dengan Facebook
              </a>
            </div>
            <div class="br5"></div>
            <i class="hr-login-modal"></i>
            <span class="txt-or-login">Atau</span>
            <div class="br5"></div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group form-login">
              <label class="label-form-login">Email</label>
              <%= f.email_field :email, class: 'form-control', autofocus: true %>
              <div class="br10"></div>
              <label class="label-form-login">Password</label>
              <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
              <div class="br10"></div>
              <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
              <% end -%>
              <div class="br10"></div>
              <div class="input-group">
                <label></label>
                <%= f.submit "Log in", class: 'btn btn-success' %>
              </div>
              <%= render "users/shared/links" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>