<div id="sidebar">
	<div id="sidebar-scroll">
		<div class="sidebar-content">
			<%= link_to backend_path, class: 'sidebar-brand' do %>
			<i class="gi gi-home"></i>
			<span class="sidebar-nav-mini-hide">
				<strong>Adminis</strong>trator
			</span>
			<% end %>
			<div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
				<div class="sidebar-user-avatar">
					<%= link_to backend_path do %>
					<%= image_tag 'avatar2.jpg', alt:'avatar' %>
					<% end %>
				</div>
				<div class="sidebar-user-name">Fathan R</div>
				<div class="sidebar-user-links">					
					<%= link_to destroy_user_session_path, method: :delete do %>
						<i class="gi gi-exit"></i>
					<% end %>
				</div>
			</div>
			<ul class="sidebar-nav">
				<li>
					<%= link_to backend_path do %>
					<i class="gi gi-home sidebar-nav-icon"></i> 
					<span class="sidebar-nav-mini-hide">Dashboard</span>
					<% end %>
				</li>
				<li class="sidebar-header">
					<span class="sidebar-header-title">USERS</span>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu">
						<i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
						<i class="fa fa-users sidebar-nav-icon"></i> 
						<span class="sidebar-nav-mini-hide">Members</span>
					</a>
					<ul>
						<li>
							<%= link_to new_backend_user_path do %>
							New User
							<% end %>
						</li>
						<li>
							<%= link_to backend_users_path do %>
							List Users
							<% end %>
						</li>
					</ul>
				</li>
				<li class="sidebar-header">
					<span class="sidebar-header-title">PRODUCTS</span>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu">
						<i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
						<i class="gi gi-tags sidebar-nav-icon"></i> 
						<span class="sidebar-nav-mini-hide">Product</span>
					</a>
					<ul>
						<li>
							<%= link_to new_backend_product_path do %>
							New data
							<% end %>
						</li>
						<li>
							<%= link_to backend_products_path do %>
							List data
							<% end %>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu">
						<i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
						<i class="gi gi-certificate sidebar-nav-icon"></i> 
						<span class="sidebar-nav-mini-hide">Category Product</span>
					</a>
					<ul>
						<li>
							<%= link_to new_backend_category_path do %>
							New data
							<% end %>
						</li>
						<li>
							<%= link_to backend_categories_path do %>
							List data
							<% end %>
						</li>
					</ul>
				</li>
				<li class="sidebar-header">
					<span class="sidebar-header-title">BRANDS PRODUCTS</span>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu">
						<i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
						<i class="gi gi-tags sidebar-nav-icon"></i> 
						<span class="sidebar-nav-mini-hide">Elektronik & Gadget</span>
					</a>
					<ul>
						<li>
							<%= link_to new_backend_product_path do %>
							New data
							<% end %>
						</li>
						<li>
							<%= link_to backend_products_path do %>
							List data
							<% end %>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu">
						<i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
						<i class="gi gi-tags sidebar-nav-icon"></i> 
						<span class="sidebar-nav-mini-hide">Property</span>
					</a>
					<ul>
						<li>
							<%= link_to new_backend_product_property_path do %>
							New data
							<% end %>
						</li>
						<li>
							<%= link_to backend_product_properties_path do %>
							List data
							<% end %>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu">
						<i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
						<i class="gi gi-tags sidebar-nav-icon"></i> 
						<span class="sidebar-nav-mini-hide">Bike</span>
					</a>
					<ul>
						<li>
							<%= link_to new_backend_product_path do %>
							New data
							<% end %>
						</li>
						<li>
							<%= link_to backend_products_path do %>
							List data
							<% end %>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu">
						<i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
						<i class="gi gi-tags sidebar-nav-icon"></i> 
						<span class="sidebar-nav-mini-hide">Car</span>
					</a>
					<ul>
						<li>
							<%= link_to new_backend_product_path do %>
							New data
							<% end %>
						</li>
						<li>
							<%= link_to backend_products_path do %>
							List data
							<% end %>
						</li>
					</ul>
				</li>
				<li class="sidebar-header">
					<span class="sidebar-header-title">OTHER</span>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu">
						<i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
						<i class="gi gi-google_maps sidebar-nav-icon"></i> 
						<span class="sidebar-nav-mini-hide">Province</span>
					</a>
					<ul>
						<li>
							<%= link_to new_backend_province_path do %>
							New data
							<% end %>
						</li>
						<li>
							<%= link_to backend_provinces_path do %>
							List data
							<% end %>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" class="sidebar-nav-menu">
						<i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
						<i class="gi gi-google_maps sidebar-nav-icon"></i> 
						<span class="sidebar-nav-mini-hide">Web Setting</span>
					</a>
					<ul>
						<li>
							<%= link_to backend_web_settings_path do %>
								List data
							<% end %>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>