<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Brand</label>
	<div class="col-md-6">
		<%= bike_property.text_field :brand, class: 'form-control', placeholder: 'Brand' %>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Lanufacture</label>
	<div class="col-md-6">
		<%= bike_property.text_field :manufacture, class: 'form-control', placeholder: 'manufacture' %>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">condition</label>
	<div class="col-md-6">
		<%= bike_property.text_field :condition, class: 'form-control', placeholder: 'condition' %>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">type</label>
	<div class="col-md-6">
		<%= bike_property.text_field :bike_type, class: 'form-control', placeholder: 'type' %>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">color</label>
	<div class="col-md-6">
		<%= bike_property.text_field :color, class: 'form-control', placeholder: 'color' %>
	</div>
</div>
