<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">SKU</label>
	<div class="col-md-6">
		<%= gadget.text_field :sku, class: 'form-control', placeholder: 'SKU' %>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Shipping Weight</label>
	<div class="col-md-6">
		<%= gadget.text_field :shipping_weight, class: 'form-control', placeholder: 'Shipping Weight' %>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Waranty</label>
	<div class="col-md-6">
		<%= gadget.text_field :waranty, class: 'form-control', placeholder: 'Waranty' %>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">color</label>
	<div class="col-md-6">
		<%= gadget.select :color, options_for_select(color, nil), {include_blank: 'Color'}, class: 'select-chosen', id: 'example-chosen'  %>              
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">processor</label>
	<div class="col-md-6">
		<%= gadget.text_field :processor, class: 'form-control', placeholder: 'processor' %>
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Os</label>
	<div class="col-md-6">
		<%= gadget.text_field :Os, class: 'form-control' %>
	</div>
</div>	
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Sim</label>
	<div class="col-md-6">
		<%= gadget.select :color, options_for_select(sim, nil), {include_blank: 'sim'}, class: 'select-chosen', id: 'example-chosen'  %>              
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Memory</label>
	<div class="col-md-6">
		<%= gadget.text_field :memory, class: 'form-control' %>
	</div>	
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Camera</label>
	<div class="col-md-6">
		<%= gadget.select :camera, options_for_select(camera, nil), {include_blank: 'Camera'}, class: 'form-control', id: 'example-chosen'  %>              
	</div>
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Dimension</label>
	<div class="col-md-6">
		<%= gadget.text_field :dimension, class: 'form-control' %>
	</div>	
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Display</label>
	<div class="col-md-6">
		<%= gadget.text_field :display, class: 'form-control' %>
	</div>	
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Network</label>
	<div class="col-md-6">
		<%= gadget.text_field :network, class: 'form-control' %>
	</div>	
</div>
<div class="form-group">
	<label class="col-md-4 control-label" for="example-chosen">Battery</label>
	<div class="col-md-6">
		<%= gadget.text_field :battery, class: 'form-control' %>
	</div>	
</div>

