<div id="page-content">
	<%= render 'backend/shared/title_top' %>
	<div class="block">
		<div class="block-title">
			<div class="block-options pull-right">
				<%= link_to backend_product_properties_path, class: "btn btn-alt btn-sm btn-default toggle-bordered" do %>
				List Product Property
				<% end %>
			</div>
			<h2><strong>Product Property</strong> New</h2>
		</div>
		<%= form_for [:backend, @productproperty], :html => {:class => "form-horizontal form-bordered"} do |f| %>
		<fieldset>
			<div class="form-group">
			<label class="col-md-4 control-label" for="example-chosen">Luas bangunan</label>
				<div class="col-md-6">
					<%= f.text_field :building_area, class: 'form-control', placeholder: 'Luas Bangunan' %>
				</div>
			</div>
			<div class="form-group">
			<label class="col-md-4 control-label" for="example-chosen">Luas tanah</label>
				<div class="col-md-6">
					<%= f.text_field :surface_area, class: 'form-control', placeholder: 'Luas tanah' %>
				</div>
			</div>
			<div class="form-group">
			<label class="col-md-4 control-label" for="example-chosen">kamar mandi</label>
				<div class="col-md-6">
					<%= f.text_field :bathroom, class: 'form-control', placeholder: 'Kamar mandi' %>
				</div>
			</div>
			<div class="form-group">
			<label class="col-md-4 control-label" for="example-chosen">Kamar tidur</label>
				<div class="col-md-6">
					<%= f.text_field :bedroom, class: 'form-control', placeholder: 'kamar tidur' %>
				</div>
			</div>
			<div class="form-group">
			<label class="col-md-4 control-label" for="example-chosen">Sertifikat bangunan</label>
				<div class="col-md-6">
					<%= f.text_field :certificate, class: 'form-control', placeholder: 'Sertifikat bangunan' %>
				</div>
			</div>
			<div class="form-group">
			<label class="col-md-4 control-label" for="example-chosen">Daya listrik</label>
				<div class="col-md-6">
					<%= f.text_field :electrical_power, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
			<label class="col-md-4 control-label" for="example-chosen">Tahun didirikan</label>
				<div class="col-md-6">
					<%= f.text_field :birth_year, class: 'form-control', placeholder: 'Tahun didirikan' %>
				</div>
			</div>
		</fieldset>
		<div class="form-group form-actions">
			<div class="col-md-8 col-md-offset-4">
				<%= submit_tag :save, class: 'btn btn-primary btn-sm' %>
			</div>
		</div>
		<% end %>
	</div>
</div>