<div id="page-content">
	<div class="block full">
		<div class="block-title">
			<div class="block-options pull-right">
				<%= link_to new_backend_product_property_path do %>
					<div class="btn btn-success">
						New Data
					</div>
				<% end %>
			</div>
			<h2><strong>Product property</strong> lists</h2>
		</div>
		<div class="table-responsive">
			<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center">No</th>
						<th>Luas bangunan</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @productproperties.each_with_index do |product_property,index| %>
					<tr>
						<td class="text-center"><%= index + 1 %></td>
						<td><%= product_property.building_area %></td>
						<td class="text-center">
							<div class="btn-group">
								<%= link_to 'Edit', edit_backend_product_property_path(product_property), class: 'btn btn-default btn-sm' %> 
								<%= link_to 'Delete', backend_product_property_path(product_property), method: 'delete', class: 'btn btn-danger btn-sm' %> 
							</div>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>