<div id="page-content">
	<div class="block full">
		<div class="block-title">
			<div class="block-options pull-right">
				<%= link_to new_backend_category_path do %>
					<div class="btn btn-success">
						New Data
					</div>
				<% end %>
			</div>
			<h2><strong>Categories</strong> lists</h2>
		</div>
		<div class="table-responsive">
			<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
				<thead>
					<tr>
						<th class="text-center">No</th>
						<th>Name</th>
						<th>Parent</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @categories.each_with_index do |category,index| %>
					<tr>
						<td class="text-center"><%= index + 1 %></td>
						<td><%= category.name_for_tree %></td>
						<td><%= category.parent ? category.parent.name : '-' %></td>
						<td class="text-center">
							<div class="btn-group">
								<%= link_to 'Edit', edit_category_path(category), class: 'btn btn-default btn-sm' %> 
								<%= link_to 'Delete', category_path(category), method: 'delete', class: 'btn btn-danger btn-sm', locals: {resource: category, confirmation: "#{category.name_for_tree} will be deleted, are you sure ?"} %> 
							</div>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>