<div class="panel panel-primary">
	<div class="panel-heading">
		Profile Detail
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label>Nama Lengkap</label>
			<%= profile.text_field :full_name, class: 'form-control' , placeholder: 'ex : Your full name' %>
		</div>
		<div class="form-group">
			<label>Avatar</label>
			<%= profile.file_field :avatar, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label>Jenis kelamin</label>
			<%= profile.select :gender, options_for_select(@sex,@member.profile.gender), {include_blank: 'Choose One'}, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label>Brithday</label>
			<%= profile.text_field :brithday, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label>Phone</label>
			<%= profile.text_field :phone, class: 'form-control', placeholder: 'ex : 085720247282' %>
		</div>
	</div>
</div>