<div class="container">
	<div class="row">
		<div class="br30"></div>
		<div class="col-md-12">
			<div class="col-md-4">
				<%= render 'shareds/member/sidebar_left' %>
			</div>
			<div class="col-md-8">
				<%= form_for @member, url: member_update_path, method: 'put' do |f| %>
				<div class="panel panel-primary">
					<div class="panel-heading">
						User Details
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label>Username</label>
							<%= f.text_field :username, class: 'form-control', required: true, placeholder: 'Username' %>
						</div>
						<div class="form-group">
							<label>Email</label>
							<%= f.email_field :email, class: 'form-control', required: true, placeholder: 'Youremail@mail.com' %>
						</div>
						<div class="form-group">
							<label>Password</label>
							<% if @validatable %>
							<em>(<%= @minimum_password_length %> characters minimum)</em>
							<% end %><br />
							<%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
						</div>
						<div class="form-group">
							<label>Password Konfirmasi</label>
							<%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation' %>
						</div>
					</div>
				</div>
				<%= f.fields_for(:profile) do |profile| %>
				<%= render partial: 'form_profile', locals: {profile: profile} %>
				<% end %>
				<%= f.fields_for(:address) do |address| %>
				<%= render partial: 'form_address', locals: {address: address} %>
				<% end %>
				<%= submit_tag :submit, class: 'btn btn-primary btn-sm' %>
				<div class="br20"></div>
				<% end %>
			</div>			
		</div>
	</div>
</div>